/* LINKS */
a {
	font-family: $font;
	color: $white;
	text-decoration: none;
	&:hover{
		color: $lightCoral;
	}
}

/* TITLES */
h1{
	font-family: $font;
	color: $white;
	line-height: 1;
	font-weight: bolder;
    font-size: 100px;
    @include mq('lg'){
      font-size:64px;  
    }
	@include mq('md'){
        font-size: 40px;
    }
}

h2{
	font-family: $font;
	color: $white;
    font-size: 48px;
	@include mq('lg'){
        font-size:40px;  
      }
      @include mq('md'){
        font-size: 32px;
      }
}

h3{
	font-family: $font;
	color: $white;
    font-size: 18px;
}
