.cta {
    background: $lightCoral;
    position: relative;
    overflow:hidden;
    &-after-bg{
        position: absolute;
        left:0;
        bottom: -3px;
        @include mq('sm'){
            left:-50px;
            bottom: -15px;
            opacity: 0.5;
        }
    }
    &-container {
        @include container;
        display: flex;
        padding: 76px 100px !important;
        justify-content: center;
        gap: 20%;
        align-items: center;
        @include mq("lg") {
            padding: 84px 24px !important;
            flex-direction: column;
            
        }
        .cta-heading {
            color: $sacramentoGreen;
            font-weight: 700;
            text-align: center;
            z-index: 1;
            @include mq("lg") {
                margin-bottom: 28px;
            }
        }
        .cta-btn {
            @include btn-secondary;
            @include btn-large;
            z-index: 1;
            white-space: nowrap;
            max-height: 45px;
            a{
                color: $sacramentoGreen;
            }
            &:hover{
                a{
                    color: $white;
                }
            }
        }
    }
}
