.navbar{
    z-index: 4;
    margin-top: 64px;
    position: fixed;
    left: 0;
    right: 0;
    transition: margin-top 0.15s ease-in-out, padding 0.15s ease-in-out;
    @include mq('md'){
        margin-top: 48px;
    }
    &.scrolled{
        margin-top: 0;
        padding: 16px 0;
        background: $sacramentoGreen;
        .navbar-brand{
            img{
                width: 150px
            }
        }
    }
    &-container{
        @include container;
        display: flex;
        align-items: center;
        position: relative;
        @include mq('lg'){
            justify-content: space-between;
        }
        .navbar-brand{
            margin-right: 48px;
            @include mq('lg'){
                margin-right: 40px;
            }
        }
        .navbar-list{
            display: flex;
            flex: 1 1 auto;
            @include mq('lg'){
                justify-content: flex-start;
            }
            @include mq('md'){
                position: absolute;
                flex-direction: column;
                background: $policeBlue;
                width: 50%;
                top: -64px;
                right: 0;
                padding: 25vh 0;
                height: 100vh;
                align-items:center;
                transform: translateX(1000px);
                transition: transform 0.25s ease-in-out, border-radius 0.25s ease-in-out, width 0.25s ease-in-out;
                border-radius: 80%;
                &.active{
                    transform: translateX(0px);
                    border-radius: 0;
                }
            }
            @include mq('sm'){
                width: 100%;
            }
            .navbar-link{
                margin-right: 40px;
                font-size: 16px;
                @include mq('md'){
                    margin-right:0;
                    padding: 4vh 0;
                }
                .mobile-navbar-btn{
                    display: none;
                    @include btn-primary;
                    @include btn-large;
                    @include mq('md'){
                        display: block;
                    }
                }
            }

        }
        .navbar-btn{
            @include btn-primary;
            @include btn-large;
            @include mq('md'){
                display: none;
            }
        }
        .toggle-menu{
            cursor: pointer;
            display: none;
            background: none;
            border: none;
            margin-bottom: 5px;
            z-index: 2;
            outline: none;
            @include mq('md'){
                display: block;
            }
            div{
                background: $white;
                width: 26px;
                height: 3px;
                margin:5px 0;
                transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
            }
            &.active{
                .bar{
                    transform: rotate(360deg);
                }
                .bar-1{
                    transform: translateY(9px) rotate(-45deg);
                }
                .bar-2{
                    transform: translateX(-100px);
                    opacity:0;
                    border: none;
                }
                .bar-3{
                    transform: translateY(-7px) rotate(45deg);
                }
            }
        }
    }
}