@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap");
// Color
$midnightGreen: #014e56;
$lightCoral: #f67e7e;
$white: #ffffff;
$raptureBlue: #79c8c7;
$policeBlue: #2c6269;
$jungleGreen: #004047;
$sacramentoGreen: #012f34;
$darkGreen: #002529;
$robinBlue: #c4fffe;

// Font
$font: 'Livvic', sans-serif;
$lineHeight: 1.5;
$letterSpacing: 0.1px;

// Helper
$transition: all 250ms ease-in-out;